<div  class="mainContent" id='popupContainer' ng-controller="applicationController" style="height: 100%;">
    <!--eidt area-->
    <div ui-view="editPanel" style="height: 100%;">

       <!--navbar-->
        <div class="navbar navbar-blue">  

            <div class="navbar-text navbar-left" id="ibm-home" style="font-size: 24px;font-weight: bold;line-height: 50px;margin-left: 40px;">H5</div>
                <a  class="imgbut" ng-click="myProject()" data-toggle="editIcon" data-placement="top" title="我的项目"   id="editIcon" ><i class="icon-th icon-2x"></i><p style="font-size:12px;">我的项目</p></a>
                
                <div class="navbar-img1"><p class="navbar-text navbar-left">当前项目名: </p><p class="navbar-text navbar-left currentprojectname" style="text-overflow: ellipsis;width: 200px;white-space: nowrap;overflow: hidden;"></p></div>
            <div class="navbar-img2"><edittext></edittext><editimage></editimage>
            </div>
            <p class="navbar-text navbar-right" id="userProfile" style="margin: 0px 10px 0px 0px; line-height:50px;">

            <!-- Single button -->
            <div class="btn-group" uib-dropdown is-open="status.isopen" style="position:absolute;right:0px;" ng-if="isAuthorized">
                    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled" style="background: transparent;border:none;"><img id="uImage" src="{{currentUser.userPhoto}}" >
                    </button>

                    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button" style="left: -156px;">
                      <li role="menuitem">
                        <div style="text-align: center;">
                            <img id="uImage" src="{{currentUser.userPhoto}}" style="width:68px;  border: 2px solid #0061ff;background-color: #eff4f4;background-size: cover;margin: 20px auto 0;">
                        </div>
                      </li>
                      <li role="menuitem" style="color: #0061ff;
                                          display: block;
                                          font-size: 16px;
                                          font-weight: 700;
                                          line-height: 19px;
                                          margin-top: 12px;
                                          text-align: center;">
                            {{currentUser.userName}}
                      </li>
                      <li role="menuitem" style="
                                          color: #3c4646;
                                          font-weight:0;
                                          line-height: 1.5em;
                                          padding: 15px 10px 13px 20px; 
                                          margin-top: 20px; 
                                          cursor: pointer;" 
                                          class="logout"
                                          ng-click="loginOut()">
                          <i class="icon-signout icon-1x" style="color:#0061ff;float:left; margin-top: 4px;"></i>
                          <span style="font-size: 14px;margin-left: 10px;">退出</span>
                      </li>
                    </ul>
            </div>

            
            <span class="userName" style="
                                    display: block;
                                    position: absolute;
                                    right: 10px;
                                    line-height: 3.5em;" 
                                    id="welcome" 
                                    ng-click="userLogin()" 
                                    ng-if="!isAuthorized">欢迎,登陆</span> </div>
       <!--navbar-->

       <!-- mainbox-->
        <div class="mainbox" style="height: 100%;">
              <pageleft></pageleft>
              <div class="col-center" id="editModulePosition" style="height: 100%;position: absolute;top: 50px;left: 140px;">
                  <div id="addBox" class="saveSuccess">保存成功！</div>
                  <div class="editContainer" style=" position: relative;">
                    <div id="pagesList">
                        <div class="swiper-slide isEdit defaultPage" data-type="page" id="right_1" style="height: 100%;  direction: ltr;"> 
                        </div> 
                    </div>
                  </div>
                  <toolbar1 style="position: absolute;left: 15%;top: 80%;"></toolbar1>
                  <div class="backgroundSeting" style="    width: 300px;
    height: 30px;
    padding: 5px;
    position: absolute;
    left: 15%;
    top: 2%;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);">
    <span style="font-size: 12px;display: inline-block;margin-top: -10px;vertical-align: middle;padding-left: 10px;">背景设置</span>
         <div  id="color-chooser-bg-1" style="margin-left: 10px;"></div> 
         <input type="color" id="hsv-picker-bg-1" 
                ng-model="setFontBackgroundColor" 
                style="display:inline-block;position: absolute;top:0%; right: 0px;" autocomplete="off" style="">
    </div>
              </div>



        </div>
        <!-- mainbox-->

    </div>
    <!--eidt area-->


</div>

   
  <!--setbg-->

    

    <!--setbg-->

<!--loading page-->

  <div class="reveal-modal" style="top: 100px; opacity: 1; visibility: hidden;">

        <div class="well well-large well-transparent lead">
      <i class="icon-spinner icon-spin"></i> loading ...
    </div>
      </div>
  <div class="reveal-modal-bg" style="display: none;"></div>

<!--loading page-->

<script>




$(document).ready(function(){


      // $("#color-chooser-bg-1").kendoColorPalette({
      //       palette: ["#ffffff", "#000000","#746153", "#3a4c8b", "#ffcc33", "#fb455f", "#ac120f" ],
      //       tileSize: 20,
      //       value: "rgb(255, 255, 255)",
      //       change: function() {
      //         console.log('#color-chooser-bg-1 =============Clicked');
      //         $('.k-selected-color').css('box-shadow','none');
      //           var colorId = "#"+this.value().substring(1);
      //           console.log('#color-chooser-bg-333 ============='+colorId);
      //           setTimeout(function(){
      //               $('.isEdit').css('backgroundColor',colorId);
      //               refresh();
      //           },10);
                
      //       }
      // });
      
      function palette_change(e) {
              $("#color-chooser-bg-1").next().find('.k-selected-color').css('box-shadow','none');
                var colorId = "#"+this.value().substring(1);
                setTimeout(function(){
                    $('.isEdit').css('backgroundColor',colorId);
                    refresh();
                },10);
      }
      $("#color-chooser-bg-1").kendoColorPalette({
          palette: ["#ffffff", "#000000","#746153", "#3a4c8b", "#ffcc33", "#fb455f", "#ac120f" ],
            tileSize: 20,
            value: "rgb(255, 255, 255)",
      });
      var palette = $("#color-chooser-bg-1").data("kendoColorPalette");
      palette.bind("change", palette_change);

      //防止change事件没有执行
      function palette_click(e) {
              $("#color-chooser-bg-1").next().find('.k-selected-color').css('box-shadow','none');
                var thiscolor = $(this).css('background-color');
                setTimeout(function(){
                    $('.isEdit').css('backgroundColor',thiscolor);
                    refresh();
                },10);
      }
      $("#color-chooser-bg-1 td").bind("click", palette_click);





    $("#hsv-picker-bg-1").kendoColorPicker({
      toolIcon: false,
      palette: "websafe",
      tileSize: 20,
      buttons:true,
      opacity: true,
       change: function() {
              
                var colorId = this.value();

                  setTimeout(function(){
                    $('.isEdit').css('backgroundColor',colorId);
                    refresh();
                  },10);

                $('.k-colorpicker').css('overflow','visible');
                $('#color-chooser-bg-1 .k-state-selected').removeClass('k-state-selected');
                $("#color-chooser-bg-1").next().find('.k-selected-color').css({
                  'height': '15px',
                  'box-shadow': '0 1px 3px 1px rgba(0,0,0,0.7),inset 0 0 0 1px rgba(255,255,255,0.45)',
                  'z-index' : '100',
                  'position': 'relative',
                });
            }
    });

    $('.k-colorpicker .k-selected-color').eq(0).css('height','15px');
    
})

function refresh() {

 
// var div=document.createElement('div');
//         div.className='textdiv'; 
//         $("#pagesList").append(div);
//         var xx = $("#pagesList .isEdit").prop("outerHTML").replace(/ui-selected/, '');
//         $(".textdiv").replaceWith(xx);
    
// $("#pagesList .isEdit").eq(1).hide();

// html2canvas($("#pagesList .isEdit").eq(1), {
//           onrendered: function(canvas) {
//         $("#pagesList .isEdit").eq(1).show();
//         $("#pagesList .isEdit").eq(0).hide();
//               $(".box .col-leftclick img").remove();

//               if($(".box .col-leftclick img").length==0){
        
        
//                   //生成base64图片数据
//                   var dataUrl = canvas.toDataURL("image/png");  
//                   var newImg = document.createElement("img");
//                   newImg.src =  dataUrl;
//                   //console.log(dataUrl); 
//                   $(".box .col-leftclick").append(newImg);
//           $("#pagesList .isEdit").eq(0).show();
//           $("#pagesList .isEdit").eq(1).hide();
//               }
//           },
//       });
//     $("#pagesList .isEdit").eq(1).remove();

    var uiselected = $("#pagesList .isEdit").find('.ui-selected');
    if(uiselected.length>0){
        uiselected.removeClass('ui-selected',function(){

          html2canvas($("#pagesList .isEdit"), {
              onrendered: function(canvas) {

                  $(".box .col-leftclick img").remove();

                  if($(".box .col-leftclick img").length==0){
                   
                      //生成base64图片数据
                      var dataUrl = canvas.toDataURL("image/png");  
                      var newImg = document.createElement("img");
                      newImg.src =  dataUrl;
                      $(".box .col-leftclick").append(newImg);
                  }
                  setTimeout(function(){
                      uiselected.addClass('ui-selected');
                  },1);
              },
          });

        });
    }
    else{
      html2canvas($("#pagesList .isEdit"), {
          onrendered: function(canvas) {

              $(".box .col-leftclick img").remove();

              if($(".box .col-leftclick img").length==0){
               
                  //生成base64图片数据
                  var dataUrl = canvas.toDataURL("image/png");  
                  var newImg = document.createElement("img");
                  newImg.src =  dataUrl;
                  $(".box .col-leftclick").append(newImg);
              }
          },
      });

    }
      


      // html2canvas($("#pagesList .isEdit"), {
      //     onrendered: function(canvas) {
      //         $(".box .col-leftclick canvas").remove();
      //         canvas.id = "myCanvas";
      //           if($(".box .col-leftclick canvas").length==0){

      //             $(".box .col-leftclick").append(canvas);
      //             $(".box .col-leftclick canvas").css('zoom','28%');
      //           }
      //     },
      // });
      

      

      // html2canvas($("#pagesList .isEdit"), {
      //     onrendered: function(canvas) {
      //       $(".box .col-leftclick img").remove();
      //       var extra_canvas = document.createElement("canvas");
      //       extra_canvas.setAttribute('width',90);
      //       extra_canvas.setAttribute('height',135);
      //       var ctx = extra_canvas.getContext('2d');
      //       ctx.drawImage(canvas,0,0,canvas.width, canvas.height,0,0,90,135);
      //       var dataURL = extra_canvas.toDataURL();
      //       var img = $(document.createElement('img'));
      //       img.attr('src', dataURL);
      //       // insert the thumbnail into the left page
      //       $(".box .col-leftclick").append(img);
      //     },
      // });

} 

</script> 