<div class="edit-icon">
	

	<ul class="the-icons">
		<li ng-click="remove()" id="#delicon" data-toggle="delicon" data-placement="top" title="删除"><i class="icon-trash icon-1x"></i>删除</li>
		<li ng-click="previewPage()" id="#previewIcon" data-toggle="previewIcon" data-placement="top" title="预览"><i class="icon-eye-open icon-1x"></i>预览</li>
		<li ng-click="savePage()" id="#saveIcon" data-toggle="saveIcon" data-placement="top" title="保存"><i class="icon-save icon-1x"></i>保存</li>
		<li ng-click="userGuide()" id="#userGuide" data-toggle="userGuide" data-placement="top" title="帮助"><i class="icon-info-sign icon-1x"></i>帮助</li>
		<li ng-click="userSlider()" id="sliderDirection" data-direction="vertical" data-toggle="sliderDirection" data-placement="top" title="滑动"><i class="icon-resize-vertical icon-1x"></i>滑动</li>
	</ul>
</div>

 <script type="text/javascript">
// 	$(document).ready(function(){
// 		$('#delicon').tooltip();
// 		$(function () {
// 		  $('[data-toggle="delicon"]').tooltip()
// 		})

// 		$('#previewIcon').tooltip();
// 		$(function () {
// 		  $('[data-toggle="previewIcon"]').tooltip()
// 		})

// 		$('#saveIcon').tooltip();
// 		$(function () {
// 		  $('[data-toggle="saveIcon"]').tooltip()
// 		})
// 	});
// </script>